{
  "presets": ["es2015", "stage-2", "stage-3",
    ["@babel/preset-env", {
    "modules": false
  }], "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "useESModules": false
    }]
  ]
}
